# Copy this file into a new file called ".env" in the root of the project.
# The dotenv gem will load the contents of .env into the environment when
# Rails starts. Access values like this: ENV["RAILS_SECRET_KEY_BASE"]
#
# The purpose of this file is to keep secrets out of source control.
# For more information, see: https://github.com/bkeepers/dotenv

RAILS_SECRET_KEY_BASE=a7fe68e4140ef64016443eed4e05b71f43747c864104e0fac135c8e98311b7dd62adea7b808f9e1b0928c3ea0fde7b20ad32a543ad224d44ba76d83989668ba2
SIDEKIQ_WEB_USERNAME=admin
SIDEKIQ_WEB_PASSWORD=password
