@import 'calendar';

*, *:before, *:after {
  box-sizing: border-box;
}

.container {
  padding-top: 50px;
}

body {
  background-color: #fff;
}

.error-notice {
  position: absolute;
  top: 52px;
  left: 0;
  width: 100%;
  z-index: 99;
  background-color: #E44646;
  color: white;
  text-align: center;
  padding: 5px;
  ul {
    list-style: none;
    margin: 0;
  }
}


span.red {
  color: red;
}
span.green {
  color: green;
}
